@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background: #47465a;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.App {
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

.content {
  background: white;
}

.todo {
  background: #eee;
}

.header,
.content,
.footer {
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
}

.quote {
  font-size: 12px;
}

.text {
  border: none;
  background: #eee;
  width: 100%;
}

.line {
  text-decoration: line-through;
}

.trash {
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

/* MEDIA QUERY */
@media only screen and (max-width: 540px) {
  .App {
    width: 90%;
  }
}
